.learn-more{
    margin-top: 20px;
}

.section-search input {
    padding-left: 7px !important;
    font-size: 110% !important;
    width: 80% !important;
    border: 3px solid #f4f4f4 !important;
    border-radius: 10px !important;
}

.popular-3 {
    height: 274px;
}

.section-follow .fab {
    margin: 5px, 10px;
}

.section-follow a {
    color: white;   
}
    
.contact-heading {
    margin-bottom: 30px;
}